
			<div role="main" class="wow fadeIn" data-inset="false" data-wow-delay="0.2s">


			    <div id="map-canvas" style="width: 100% ; height: 18em; padding:0px;">
				<!-- map loads here... -->
				</div>
				
				<div id="cards_holder" class="ui-content" >
				
				
					<div class="row">

						<div class="col-xs-6">
							<div class="box">
							<!-- Media Overlay no Background !-->
							
					
							
								<div class="nd2-card">

									<div class="card-media">
									<img src="/img/examples/card_thumb_2.jpg">

										<div class='card-media-overlay '>
										
										<div class="card-title has-supporting-text">
											<h5 class="card-subtitle">Power of Lavender</h3>
										</div>
					
										</div>

									</div>
									<div class="card-supporting-text">
										Cards are a convenient means of displaying content composed of different elements. They're also well-suited for showcasing elements whose size or supported actions vary, like photos with captions of variable length.
									</div>
					
									<div class="card-action">
						
										<div class=" align-right">													
											<button class="ui-btn ui-btn-inline  waves-effect waves-button waves-effect waves-button"><i class="zmdi ui-pull-right zmdi-unfold-more "></i> expand</button>
										</div>
									</div>

				</div>

							</div>
						</div>

					<div class="col-xs-6">
						<div class="box">
						<!-- Media Overlay no Background !-->

						</div>
					</div>

				</div>

				
				
				<div class="row">

					<div class="col-xs-6">
						<div class="box">


							<!-- Media Overlay no Background !-->

							<div class="nd2-card">


								<div class="card-media">
									<img src="/img/examples/card_thumb_2.jpg">

									<div class="card-media-overlay">

										<div class="card-title has-supporting-text">
											<h3 class="card-primary-title">Crossing Cranes</h3>
										</div>

									</div>

								</div>


								<div class="card-action">
									<div class="row between-xs">
										<div class="col-xs-12 align-right">
											<div class="box">
												<a href="#" class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-favorite"></i></a>
												<a href="#" class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-bookmark"></i></a>
												<a href="#" class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-mail-reply zmd-flip-horizontal"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>


						</div>
					</div>

					<div class="col-xs-6">
						<div class="box">

							<!-- Media Overlay no Background !-->

							<div class="nd2-card">


								<div class="card-media">
									<img src="/img/examples/card_thumb_1.jpg">

									<div class="card-media-overlay">

										<div class="card-title has-supporting-text">
											<h3 class="card-primary-title">The Bridge</h3>
										</div>

									</div>

								</div>

								<div class="card-action">
									<div class="row between-xs">
										<div class="col-xs-12 align-right">
											<div class="box">
												<a href="#" class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-favorite"></i></a>
												<a href="#" class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-bookmark"></i></a>
												<a href="#" class="ui-btn ui-btn-inline ui-btn-fab waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-mail-reply zmd-flip-horizontal"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>


						</div>
					</div>

				</div>
				
				
				
				
				</div>
				See example by clicking the bars on the top left.
			
				

			</div>
